In [189]:
#pwd

In [ ]:
#!pip install kaggle
kaggle datasets download kshitij9/f1-2022-dataset -f F1_2022_data.csv

In [9]:
#!pip install pandas
import pandas as pd
df= pd.read_csv(r"E:\Data-Analysis\F1 EDA Project\F1_2022_data.csv")
df.head(3)

,POS,Driver Code,Driver Name,Constructor,Points,Pole Positions,No of Fastest Laps,Wins,Podiums,DNFs
0,1,VER,Max Verstappen,Red Bull Racing RBPT,454,7,5,15,17,2
1,2,LEC,Charles Leclerc,Ferrari,308,9,3,3,11,3
2,3,PER,Sergio Perez,Red Bull Racing RBPT,305,1,3,2,11,3

In [11]:
df.dtypes

POS                    int64
Driver Code           object
Driver Name           object
Constructor           object
Points                 int64
Pole Positions         int64
No of Fastest Laps     int64
Wins                   int64
Podiums                int64
DNFs                   int64
dtype: object

In [13]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(3)

,pos,driver_code,driver_name,constructor,points,pole_positions,no_of_fastest_laps,wins,podiums,dnfs
0,1,VER,Max Verstappen,Red Bull Racing RBPT,454,7,5,15,17,2
1,2,LEC,Charles Leclerc,Ferrari,308,9,3,3,11,3
2,3,PER,Sergio Perez,Red Bull Racing RBPT,305,1,3,2,11,3

In [58]:
from sqlalchemy import create_engine
my_con= create_engine("mysql+mysqldb://root:Djmarty786@localhost/Data_Analysis")

In [60]:
df.to_sql(con=my_con,name='overall_race_results',if_exists='append',index=False)

22